<% if (locals.dsConfig.multiSourceChooser) { %>
            </div> <!-- lcolumn -->
            <div id="rcolumn" class="col">
                <%- include("sourceChooser") %>
            </div>
            </div> <!-- row -->
<% } %>
        </section>
    </div> <!-- container -->
    <%- include("foot") %>
