<% include ../partials/head %>

<div class="jumbotron">
  <h1 class="display-4">Please Authenticate with DocuSign</h1>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/ds/login" role="button" data-busy="href">Authenticate with DocuSign</a>
  </p>
  <hr class="my-4">
  <p>You need to authenticate with DocuSign to continue your request.</p>
</div>

<% include ../partials/foot %>
