<% include ../partials/head %>

<h2>Returned data from DocuSign!</h2>
<p>Data:</p>

<% if (event) { %>
  <p>event: <%= event %></p>
<% } %>

<p><a href="/">Continue</a></p>
  
<% include ../partials/foot %>
