<% include ../partials/head %>

<div>
  <h1>Send an Envelope</h1>
  <p>This form will send an envelope that includes three documents.</p>

  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/envelope_1_form" role="button" data-busy="href_post">Send!</a>
  </p>

</div>

<% include ../partials/foot %>
