<% title = "Error" %>
<% include ../partials/head %>

<h2>Problem: an error occurred</h2>
<p>Error information:</p>

<% if (errorCode) { %>
  <p><%= errorCode %>: <%= errorMessage %></p>
<% } else { %>
  <p><pre><%= err %></pre></p>
<% } %>

<p><a href="/">Continue</a></p>
  
<% include ../partials/foot %>
