<% if (showDoc) { %>
    <p><a target='_blank' href='<%= documentation %>'>Documentation</a> on using OAuth Authorization Code Grant and JWT
        from
        a Node Express application.</p>
<% } %>

<% if (locals.dsConfig.multiSourceChooser) { %>
    <h3 class="mt-4">Monitor API Code Examples for C#, PHP, Java, Node.js, Python, and Curl</h3>
<% } else { %>
    <h3 class="mt-4">Monitor API Code Examples</h3>
<% } %>

<h4 id="example001">1. <a href="eg001">Getting monitoring data</a></h4>
<p>
    This example demonstrates how to get and display 
    all of your organization’s monitoring data.
</p>
<p>
    API method used:
    <a target='_blank'
       href="https://developers.docusign.com/docs/monitor-api/reference/monitor/dataset/getstreamfordataset/">Monitor::GetStreamForDataset</a>
</p>
