<% if (showDoc) { %>
    <p><a target='_blank' href='<%= documentation %>'>Documentation</a> on using OAuth Authorization Code Grant and JWT
        from
        a Node Express application.</p>
<% } %>

<%- include("index_click_examples_list") %>
