<% if (showDoc) { %>
    <p><a target='_blank' href='<%= documentation %>'>Documentation</a> on using OAuth Authorization Code Grant and
        JWT from a Node Express application.</p>
<% } %>

<% if (locals.dsConfig.multiSourceChooser) { %>
    <h3 class="mt-4">Run and explore eSignature REST API code examples with Authorization Code Grant or JWT Grant authentication</h3>
<% } else { %>
    <h2 class="mt-4">Basic examples</h2>
<% } %>

<h4 id="example001">1. <a href="eg001">Request a signature through your app (embedded signing)</a></h4>
<p>Sends an envelope, then uses embedded signing for the first signer. With embedded signing, DocuSign signing is initiated from your website.
</p>
<p>API methods used:
    <a target='_blank' href="https://developers.docusign.com/docs/esign-rest-api/reference/envelopes/envelopes/create/">Envelopes::create</a>,
    <a target='_blank'
       href="https://developers.docusign.com/docs/esign-rest-api/reference/envelopes/envelopeviews/createrecipient/">EnvelopeViews::createRecipient</a>.
</p>

<h4 id="example002">2. <a href="eg002">Request a signature by email (remote signing)</a></h4>
<p>The envelope includes a PDF, Word, and HTML document. <a target='_blank'
        href="https://developers.docusign.com/docs/esign-rest-api/esign101/concepts/tabs/auto-place/">Anchor text</a> is used to position the signing fields in the documents.
</p>
<p>API method used:
    <a target='_blank' href="https://developers.docusign.com/docs/esign-rest-api/reference/envelopes/envelopes/create/">Envelopes::create</a>.
</p>

<h4 id="example003">3. <a href="eg003">List envelope status changes</a></h4>
<p>The envelopes' current status is included.
</p>
<p>API method used:
    <a target='_blank'
       href="https://developers.docusign.com/docs/esign-rest-api/reference/envelopes/envelopes/liststatuschanges/">Envelopes::listStatusChanges</a>.
</p>

<h4 id="example004">4. <a href="eg004">Get envelope information</a></h4>
<p>Lists basic information about an envelope, including its overall status.
</p>
<p>API method used:
    <a target='_blank' href="https://developers.docusign.com/docs/esign-rest-api/reference/envelopes/envelopes/get/">Envelopes::get</a>.
</p>

<h4 id="example005">5. <a href="eg005">List envelope recipients</a></h4>
<p>Includes current recipient status.
</p>
<p>API method used:
    <a target='_blank'
       href="https://developers.docusign.com/docs/esign-rest-api/reference/envelopes/enveloperecipients/list/">EnvelopeRecipients::list</a>.
</p>

<h4 id="example006">6. <a href="eg006">List envelope documents</a></h4>
<p>Lists the envelope's documents. A <i>Certificate of Completion</i> is also included with every envelope.
</p>
<p>API method used:
    <a target='_blank'
       href="https://developers.docusign.com/docs/esign-rest-api/reference/envelopes/envelopedocuments/list/">EnvelopeDocuments::list</a>.
</p>

<h4 id="example007">7. <a href="eg007">Download envelope documents</a></h4>
<p>Downloads individual documents, the documents concatenated together, or a ZIP file of the documents.
</p>
<p>API method used:
    <a target='_blank'
       href="https://developers.docusign.com/docs/esign-rest-api/reference/envelopes/envelopedocuments/get/">EnvelopeDocuments::get</a>.
</p>

<h4 id="example008">8. <a href="eg008">Create a template</a></h4>
<p>Creates a template with two roles, <i>signer</i> and <i>cc</i> recipient.</p>
<p>API methods used:
    <a target='_blank' href="https://developers.docusign.com/docs/esign-rest-api/reference/templates/templates/list/">Templates::list</a>,
    <a target='_blank' href="https://developers.docusign.com/docs/esign-rest-api/reference/templates/templates/create/">Templates::create</a>.
</p>

<h4 id="example009">9. <a href="eg009">Request a signature by email using a template</a></h4>
<p>The envelope is defined by the template. The signer and cc recipient name and email are used to fill the template's <i>roles</i>.</p>
<p>API method used:
    <a target='_blank' href="https://developers.docusign.com/docs/esign-rest-api/reference/envelopes/envelopes/create/">Envelopes::create</a>.
</p>

<h4 id="example010">10. <a href="eg010">Attach documents using binary transfer</a></h4>
<p>Binary transfer is 33% more efficient than using Base64 encoding.
</p>
<p>API method used:
    <a target='_blank' href="https://developers.docusign.com/docs/esign-rest-api/reference/envelopes/envelopes/create/">Envelopes::create</a>.
</p>

<h4 id="example011">11. <a href="eg011">Sends an envelope in your app (embedded sending)</a></h4>
<p>Embeds the DocuSign UI in your web app to finalize or update the envelope and documents before they are sent.
</p>
<p>API methods used:
    <a target='_blank' href="https://developers.docusign.com/docs/esign-rest-api/reference/envelopes/envelopes/create/">Envelopes::create</a>,
    <a target='_blank'
       href="https://developers.docusign.com/docs/esign-rest-api/reference/envelopes/envelopeviews/createsender/">EnvelopeViews::createSender</a>.

<h4 id="example012">12. <a href="eg012">Embed the DocuSign UI in your app</a></h4>
<p>Redirects the user to the DocuSign web tool.</p>
<p>API method used:
    <a target='_blank'
       href="https://developers.docusign.com/docs/esign-rest-api/reference/envelopes/envelopeviews/createconsole/">EnvelopeViews::createConsole</a>.
</p>

<h4 id="example013">13. <a href="eg013">Request a signature using a composite template</a></h4>
<p>Sends an envelope based on a template. In addition to the template's document(s), the example adds an
    additional document to the envelope by using the <a target='_blank'
       href='https://developers.docusign.com/docs/esign-rest-api/esign101/concepts/templates/composite/'>Composite
        templates</a> feature.</p>
<p>API methods used:
    <a target='_blank' href="https://developers.docusign.com/docs/esign-rest-api/reference/envelopes/envelopes/create/">Envelopes::create</a>,
    <a target='_blank'
       href="https://developers.docusign.com/docs/esign-rest-api/reference/envelopes/envelopeviews/createrecipient/">EnvelopeViews::createRecipient</a>.
</p>

<h2>Payments</h2>

<h4 id="example014">14. <a href="eg014">Send a request for Accept payments</a></h4>
<p>Sends an order form with online payment by credit card.
</p>
<p>API method used:
    <a target='_blank' href="https://developers.docusign.com/docs/esign-rest-api/reference/envelopes/envelopes/create/">Envelopes::create</a>.
</p>

<h2>Tabs</h2>

<h4 id="example015">15. <a href="eg015">Get envelope tab values</a></h4>
<p>Retrieves the tab (field) values for all of the envelope's recipients.</p>
<p>API method used:
    <a target='_blank'
       href="https://developers.docusign.com/docs/esign-rest-api/reference/envelopes/envelopeformdata/get/">EnvelopeFormData::get</a>.
</p>

<h4 id="example016">16. <a href="eg016">Set envelope tab values</a></h4>
<p>Creates an envelope and sets the initial values for its tabs (fields). Some of the tabs are set to be read-only, others can be updated by the recipient. This example also stores metadata with the envelope.</p>
<p>API method used:
    <a target='_blank' href="https://developers.docusign.com/docs/esign-rest-api/reference/envelopes/envelopes/create/">Envelopes::create</a>.
</p>

<h4 id="example017">17. <a href="eg017">Set tab values in a template</a></h4>
<p>Creates an envelope using a template and sets the initial values for its tabs (fields). This example also stores metadata with the envelope.</p>
<p>API method used:
    <a target='_blank' href="https://developers.docusign.com/docs/esign-rest-api/reference/envelopes/envelopes/create/">Envelopes::create</a>.
</p>

<h4 id="example018">18. <a href="eg018">Get envelope custom tab values</a></h4>
<p>Retrieves the custom metadata (custom data fields) stored with the envelope.</p>
<p>API method used:
    <a target='_blank'
       href="https://developers.docusign.com/docs/esign-rest-api/reference/envelopes/envelopecustomfields/list/">EnvelopeCustomFields::list</a>.
</p>

<h2>Recipient authentication</h2>

<h4 id="example019">19. <a href="eg019">Require access code authentication for a recipient</a></h4>
<p>Sends an envelope that requires entering an access code for the purpose of multifactor authentication.</p>
<p>API method used:
    <a target='_blank' href="https://developers.docusign.com/docs/esign-rest-api/reference/envelopes/envelopes/create/">Envelopes::create</a>.
</p>

<h4 id="example020">20. <a href="eg020">Require phone authentication for a recipient</a></h4>
<p>Sends an envelope that requires entering a six-digit code from a text message or phone call for the purpose of multifactor authentication.</p>
<p>API method used:
    <a target='_blank' href="https://developers.docusign.com/docs/esign-rest-api/reference/envelopes/envelopes/create/">Envelopes::create</a>.
</p>

<h4 id="example022">22. <a href="eg022">Require knowledge-based authentication (KBA) for a recipient</a></h4>
<p>Sends an envelope that requires passing a public records check to validate identity for the purpose of multifactor authentication.</p>
<p>API method used:
    <a target='_blank' href="https://developers.docusign.com/docs/esign-rest-api/reference/envelopes/envelopes/create/">Envelopes::create</a>.
</p>

<h4 id="example023">23. <a href="eg023">Require ID verification (IDV) for a recipient</a></h4>
<p>Sends an envelope that requires the recipient to upload a government-issued ID for the purpose of multifactor authentication.</p>
<p>API methods used:
    <a target='_blank'
       href="https://developers.docusign.com/esign-rest-api/reference/Accounts/IdentityVerifications/list">Accounts::getAccountIdentityVerificationsList</a>,
    <a target='_blank' href="https://developers.docusign.com/docs/esign-rest-api/reference/envelopes/envelopes/create/">Envelopes::create</a>.
</p>

<h2>Permissions</h2>

<h4 id="example024">24. <a href="eg024">Create a permission profile</a></h4>
<p>Demonstrates how to create a permission profile with the eSignature REST API. </p>
<p>API method used:
    <a target='_blank'
       href="https://developers.docusign.com/docs/esign-rest-api/reference/accounts/accountpermissionprofiles/create/">AccountPermissionProfiles::create</a>.
</p>

<h4 id="example025">25. <a href="eg025">Set a permission profile</a></h4>
<p>Demonstrates how to set a user group's permission profile. You must have already created a permission profile and a group of users.</p>
<p>API method used:
    <a target="_blank" href="https://developers.docusign.com/docs/esign-rest-api/reference/usergroups/groups/update/">Groups::update</a>.
</p>

<h4 id="example026">26. <a href="eg026">Update individual permission settings</a></h4>
<p>Demonstrates how to edit individual permission settings on a permission profile.</p>
<p>API method used:
    <a target='_blank'
       href="https://developers.docusign.com/docs/esign-rest-api/reference/accounts/accountpermissionprofiles/update/">AccountPermissionProfiles::update</a>.
</p>

<h4 id="example027">27. <a href="eg027">Delete a permission profile</a></h4>
<p>Demonstrates how to delete a permission profile with the eSignature REST API. </p>
<p>API method used:
    <a target='_blank'
       href="https://developers.docusign.com/esign-rest-api/code-examples/permission-profile-deleting">AccountPermissionProfiles::delete</a>.
</p>

<h2>Brands</h2>

<h4 id="example028">28. <a href="eg028">Create a brand</a></h4>
<p>Creates a brand profile for an account.</p>
<p>API method used:
    <a target='_blank'
       href="https://developers.docusign.com/docs/esign-rest-api/reference/accounts/accountbrands/create/">AccountBrands::create</a>.
</p>

<h4 id="example029">29. <a href="eg029">Apply a brand to an envelope</a></h4>
<p>Demonstrates how to apply a brand you've created to an envelope. First, this example creates the envelope,
then applies the brand to it. <a target='_blank'
        href="https://developers.docusign.com/docs/esign-rest-api/esign101/concepts/tabs/auto-place/">Anchor text</a> is used
        to position the signing fields in the documents.</p>
<p>API method used:
    <a target='_blank' href="https://developers.docusign.com/docs/esign-rest-api/reference/envelopes/envelopes/create/">Envelopes::create</a>.
</p>

<h4 id="example030">30. <a href="eg030">Apply a brand and template to an envelope</a></h4>
<p>Demonstrates how to apply a brand you've created to a template. You must have at least one created template and brand. <a target='_blank'
        href="https://developers.docusign.com/docs/esign-rest-api/esign101/concepts/tabs/auto-place/">Anchor text</a> is used
        to position the signing fields in the documents.<p>
<p>API method used:
    <a target='_blank' href="https://developers.docusign.com/docs/esign-rest-api/reference/envelopes/envelopes/create/">Envelopes::create</a>.
</p>

<h2>Bulk operations</h2>

<h4 id="example031">31. <a href="eg031">Bulk send envelopes</a></h4>
<p>
    Demonstrates how to send envelopes in bulk to multiple recipients. First, this example creates a bulk send recipients list,
    then creates an envelope. After that, it initiates bulk envelope sending.
</p>
<p>
    API methods used:
    <a target="_blank" href="https://developers.docusign.com/docs/esign-rest-api/reference/bulkenvelopes/bulksend/createbulksendlist/">BulkSend:createBulkSendList</a>,
    <a target="_blank" href="https://developers.docusign.com/docs/esign-rest-api/reference/envelopes/envelopes/create/">Envelopes:create</a>,
    <a target="_blank" href="https://developers.docusign.com/docs/esign-rest-api/reference/envelopes/envelopecustomfields/create/">EnvelopeCustomFields:create</a>,
    <a target="_blank" href="https://developers.docusign.com/docs/esign-rest-api/reference/bulkenvelopes/bulksend/createbulksendrequest/">BulkSend:createBulkSendRequest</a>,
    <a target="_blank" href="https://developers.docusign.com/docs/esign-rest-api/reference/bulkenvelopes/bulksend/getbulksendbatchstatus/">BulkSend:getBulkSendBatchStatus</a>.
</p>

<h2>Advanced recipient routing</h2>

<h4 id="example032">32. <a href="eg032">Pause a signature workflow</a></h4>
<p>
    Demonstrates how to create an envelope where the workflow is paused before the envelope is sent to a second recipient.
</p>
<p>
    API method used:
    <a target="_blank" href="https://developers.docusign.com/docs/esign-rest-api/reference/envelopes/envelopes/create/">Envelopes::create</a>.
</p>

<h4 id="example033">33. <a href="eg033">Unpause a signature workflow</a></h4>
<p>
    Demonstrates how to update an envelope to resume the workflow that has been paused using the Update Envelope method. You must have created at least one envelope with a paused signature workflow to run this example.
<p>
    API method used:
    <a target="_blank" href="https://developers.docusign.com/docs/esign-rest-api/reference/envelopes/envelopes/update/">Envelopes::update</a>.
</p>

<h4 id="example034">34. <a href="eg034">Use conditional recipients</a></h4>
<p>
    Demonstrates how to create an envelope where the workflow is routed to different recipients based on the value of a transaction.
</p>
<p>
    API method used:
    <a target="_blank" href="https://developers.docusign.com/docs/esign-rest-api/reference/envelopes/envelopes/create/">Envelopes::create</a>.
</p>
<h4 id="example035">35. <a href="eg035">Schedule an envelope</a></h4>
<p>
    Demonstrates how to schedule sending an envelope using the scheduled sending feature.
</p>
<p>
    API method used:
    <a target='_blank' href="https://developers.docusign.com/docs/esign-rest-api/reference/envelopes/envelopes/create/">Envelopes:create</a>.
</p>
<h4 id="example036">36. <a href="eg036">Send an envelope with delayed routing</a></h4>

<p>
    Demonstrates how to delay an envelope’s delivery between recipients using the delayed routing feature.
</p>
<p>
    API method used:
    <a target='_blank' href="https://developers.docusign.com/docs/esign-rest-api/reference/envelopes/envelopes/create/">Envelopes:create</a>.
</p>

<h2>Premium Features</h2>
<h4 id="example037">37. <a href="eg037">Request a signature by SMS delivery</a></h4>
<p>
    Sends a signature request via an SMS message.
</p>
<p>
    API method used:
    <a target="_blank" href="https://developers.docusign.com/docs/esign-rest-api/reference/envelopes/envelopes/create/">Envelopes::create</a>.
</p>

<h2>Responsive signing</h2>

<h4 id="example038">38. <a href="eg038">Create a signable HTML document</a></h4>
<p>
    Demonstrates how to create an HTML document for responsive signing.
<p>
    API methods used:
    <a target="_blank" href="https://developers.docusign.com/docs/esign-rest-api/reference/envelopes/envelopes/create/">Envelopes::create</a>,
    <a target='_blank'
    href="https://developers.docusign.com/docs/esign-rest-api/reference/envelopes/envelopeviews/createrecipient/">EnvelopeViews::createRecipient</a>.
</p>
