<h2>Welcome</h2>
  <p>This launcher includes the following examples for the DocuSign Rooms API.</p>

<% if (showDoc) { %>
<p><a target='_blank' href='<%= documentation %>'>Documentation</a> on using OAuth Authorization Code Grant and JWT from
   a Node Express application.</p>
<% } %>

<% if (locals.dsConfig.multiSourceChooser) { %>
<h3 class="mt-4">Rooms API Code Examples for C#, PHP, Java, Node.js, Python, and Curl</h3>
<% } else { %>
<h3 class="mt-4">Rooms API Code Examples</h3>
<% } %>

<h4 id="example001">1. <a href="eg001">Creates a new room from data.</a></h4>
<p>This is a general example of creating a room.</p>
<p>API methods used:
   <a target='_blank'
      href="https://developers.docusign.com/rooms-api/reference/Roles/Roles/GetRoles">Roles::GetRoles</a> and
   <a target='_blank'
      href="https://developers.docusign.com/rooms-api/reference/Rooms/Rooms/CreateRoom">Rooms::CreateRoom</a>.
</p>

<h4 id="example002">2. <a href="eg002">Create a room from template.</a></h4>
<p>Create a room from template.</p>
<p>API methods used:
   <a target ='_blank' href="https://developers.docusign.com/rooms-api/reference/Roles/Roles/GetRoles">Roles::GetRoles</a> and
   <a target ='_blank' href="https://developers.docusign.com/rooms-api/reference/Rooms/Rooms/CreateRoom">Rooms::CreateRoom</a>
   <a target ='_blank' href="https://developers.docusign.com/rooms-api/reference/RoomTemplates/RoomTemplates/GetRoomTemplates">RoomTemplates::GetRoomTemplates</a>.
</p>

<h4 id="example003">3. <a href="eg003">Export data from a room.</a></h4>
<p>This example exports data from a room.</p>
<p>API methods used:
   <a target='_blank'
      href="https://developers.docusign.com/rooms-api/reference/Rooms/Rooms/GetRooms">Rooms::GetRooms</a> and
   <a target='_blank'
      href="https://developers.docusign.com/rooms-api/reference/Rooms/Rooms/GetRoomFieldData">Rooms::GetRoomFieldData</a>.
</p>

<h4 id="example004">4. <a href="eg004">Add form to a room.</a></h4>
<p>This example adds form to a room.</p>
<p>API methods used:
    <a target='_blank' href="https://developers.docusign.com/rooms-api/reference/Rooms/Rooms/GetRooms">Rooms: GetRooms</a>,
    <a target='_blank' href="https://developers.docusign.com/rooms-api/reference/Forms/FormLibraries/GetFormLibraries">FormLibraries: GetFormLibraries</a>,
    <a target='_blank' href="https://developers.docusign.com/rooms-api/reference/Forms/FormLibraries/GetFormLibraryForms">FormLibraries: GetFormLibraryForms</a> and
    <a target='_blank' href="https://developers.docusign.com/rooms-api/reference/Rooms/Rooms/AddFormToRoom">Rooms: AddFormToRoom</a>.
</p>

<h4 id="example005">5. <a href="eg005">Get filtered rooms.</a></h4>
<p>This example returns rooms by filter.</p>
<p>API methods used:
   <a target='_blank' href="https://developers.docusign.com/rooms-api/reference/Rooms/Rooms/GetRooms">Rooms: GetRooms</a>.
</p>

<h4 id="example006">6. <a href="eg006">Creates external form fill session.</a></h4>
<p>This is an example of creating external form fill session.</p>
<p>API methods used:
   <a target='_blank'
      href="https://developers.docusign.com/rooms-api/reference/Rooms/Rooms/GetRooms">Rooms::GetRooms</a>,
   <a target='_blank'
      href="https://developers.docusign.com/rooms-api/reference/Rooms/Rooms/GetDocuments">Rooms::GetDocuments</a>.
</p>

<h4 id="example007">7. <a href="eg007">Creating a form group</a></h4>
<p>
    This example demonstrates how to create a form group.
</p>
<p>
    API methods used:
    <a target ='_blank'
       href="https://developers.docusign.com/docs/rooms-api/how-to/create-form-group/">
        Rooms::CreateFormGroup
    </a>
</p>

<h4 id="example008">8. <a href="eg008">Grant office access to a form group</a></h4>
<p>
    This example demonstrates how to grant office access to a form group.
</p>
<p>
    API methods used:
    <a target ='_blank' href="https://developers.docusign.com/docs/rooms-api/how-to/access-form-group/">Rooms::AccessFormGroup</a>,
    <a target ='_blank' href="https://developers.docusign.com/docs/rooms-api/reference/forms/formgroups/getformgroups/">FormGroups::GetFormGroups</a> and
    <a target ='_blank' href="https://developers.docusign.com/docs/rooms-api/reference/offices/offices/getoffices/">Offices::GetOffices</a>
</p>

<h4 id="example009">9. <a href="eg009">Assign form to a form group</a></h4>
<p>
    This example demonstrates how to assign form to a form group.
</p>
<p>
    API methods used:
    <a target ='_blank' href="https://developers.docusign.com/docs/rooms-api/how-to/assign-form-group/">Rooms::AssignFormGroup</a>,
    <a target ='_blank' href="https://developers.docusign.com/docs/rooms-api/reference/forms/formgroups/getformgroups/">FormGroups::GetFormGroups</a> and
    <a target ='_blank' href="https://developers.docusign.com/docs/rooms-api/reference/forms/formlibraries/getformlibraries/">FormLibraries:GetFormLibraries</a>
</p>
