  <h3>Launchers for the code examples</h3>

  <h4>1. <a target ='_blank' href="eg001">C#</a></h4>
  <p>The C# launcher is a ready to use Visual Studio solution. The launcher's C# code examples can be used
    with both C# .NET Core and .NET Framework projects.
  </p>

  <h4>2. <a target ='_blank' href="eg001">C#</a></h4>
  <p>The C# launcher is a ready to use Visual Studio solution. The launcher's C# code examples can be used
    with both C# .NET Core and .NET Framework projects.
  </p>

  <h4>3. <a target ='_blank' href="eg001">C#</a></h4>
  <p>The C# launcher is a ready to use Visual Studio solution. The launcher's C# code examples can be used
    with both C# .NET Core and .NET Framework projects.
  </p>

  <h4>4. <a target ='_blank' href="eg001">C#</a></h4>
  <p>The C# launcher is a ready to use Visual Studio solution. The launcher's C# code examples can be used
    with both C# .NET Core and .NET Framework projects.
  </p>
