  <h3 class="mt-4">Launchers for the code examples</h3>

  <h4><a target ='_blank' href="https://github.com/docusign/code-examples-csharp">C#</a></h4>
  <p>The C# launcher is a ready to use Visual Studio solution. It uses the
    .NET Core MVC web framework.
    The launcher's C# code examples can be used
    with both C# .NET Core and .NET Framework projects, and with the Authorization Code Grant or JWT
    authentication flow.
  </p>

  <h4><a target ='_blank' href="https://github.com/docusign/code-examples-php">PHP</a></h4>
  <p>The PHP launcher is a ready to use integration. The launcher's PHP code examples can be used
    with any web server that supports PHP. The examples can be used with the Authorization Code Grant or
    JWT authentication flow.
  </p>

  <h4><a target ='_blank' href="https://github.com/docusign/code-examples-java">Java</a></h4>
  <p>The Java launcher is a ready to use integration. It uses the Spring Boot web framework.
    The launcher's code examples can be used with the Authorization Code Grant or
    JWT authentication flow.
  </p>

  <h4><a target ='_blank' href="https://github.com/docusign/code-examples-node">Node.js</a></h4>
  <p>The Node launcher is a ready to use integration. It uses the Express web framework.
    The launcher's code examples can be used with the Authorization Code Grant or
    JWT authentication flow.
  </p>

  <h4><a target ='_blank' href="https://github.com/docusign/code-examples-curl
  <p>The Curl launcher is a set of shell scripts that can be used on a Windows, Linux or MacOS computer.
    The Curl examples don't include authentication. Instead, you can obtain an access token
    from the
    <a target="_blank" href="https://developers.docusign.com/oauth-token-generator">OAuth token generator</a>
    on the Developer Center.
  </p>

  <h4><a target ='_blank' href="https://github.com/docusign/code-examples-python">Python</a></h4>
  <p>The Python 3 launcher is a ready to use integration. It uses the Flask web framework.
    The launcher's code examples can be used with the Authorization Code Grant or
    JWT authentication flow.
  </p>

  <!--
  <h4><a target ='_blank' href="https://github.com/docusign/code-examples-ruby">Ruby</a></h4>
  <p>The Ruby launcher is a ready to use Ruby on Rails integration.
    The launcher's code examples can be used with the Authorization Code Grant or
    JWT authentication flow.
  </p>
-->