<%- include("../partials/genericHead") %>
<div class="jumbotron jumbotron-fluid">

<table>
    <tbody>
        <tr>
            <td>                
<% if (locals.dsConfig.multiSourceChooser) { %>
    <h1 class="display-4">Welcome</h1>
    <p class="Xlead">Welcome to the code examples for DocuSign Monitor API with JWT Grant authentication</p>
<% } else { %>
    <h1 class="display-4">Node Launcher</h1>
    <p class="Xlead">
        Run and explore Monitor API code examples with JWT Grant authentication
</p>
<% } %>

</td>
<td>
    <img src="/images/banner-code.png" />
</td>
</tr>
</tbody>
</table>

</div>

<div class="container" style="margin-top: 40px" id="index-page">
<% if (showDoc) { %>
    <p><a target='_blank' href='<%= documentation %>'>Documentation</a> on using OAuth Authorization Code Grant and JWT
        from
        a Node Express application.</p>
<% } %>


<h4 id="example001">1. <a href="eg001">Get monitoring data</a></h4>
<p>
    Demonstrates how to get and display all of your organization’s monitoring data.
</p>
<p>
    API method used:
    <a target='_blank'
       href="https://developers.docusign.com/docs/monitor-api/reference/monitor/dataset/getstream/">DataSet:getStream</a>
</p>

<h4 id="example002">2. <a href="eg002">Query monitoring data with filters</a></h4>
<p>
    Demonstrates how to query an organization's data based on specified filters and aggregations.
</p>
<p>
    API method used:
    <a target='_blank' href="https://developers.docusign.com/docs/monitor-api/reference/monitor/dataset/postwebquery/">DataSet:postWebQuery</a>
</p>
</div>

<!-- anchor-js is only for the index page -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.1/anchor.min.js"></script>
<script>anchors.options.placement = 'left'; anchors.add('h4')</script>

<%- include("../partials/genericFoot") %>
