<% include ../partials/head %>

<% if (! locals.user) { %>
  <!-- Not signed in -->
  <div class="jumbotron">
    <h1 class="display-4">Welcome!</h1>
    <p class="lead">Welcome to the DocuSign Node.JS examples with
      OAuth Authorization Code Grant.</p>
  </div>
<% } %>


  <!-- Signed in -->
  <div>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/envelope_1_form" role="button"
        data-busy="href">Send an Envelope</a>
    </p>
  </div>

<% include ../partials/foot %>
