<% title = "Error" %>
<%- include("../partials/genericHead") %>
<h2>Problem: an error occurred</h2>

<p><%- locals.manifest.SupportingTexts.CFRError %></p>

<p><a href="/">Continue</a></p>

<%- include("../partials/genericFoot") %>
