<%- include("../partials/genericHead") %>
<br>
<br>
<p>  Please restart the app to finish switching to a new API.</p>
<p>  Quit the current app with <code>Control + C</code>, then run <code>npm start</code> again.</p>

<%- include("../partials/genericFoot") %>
